.image-wrapper{
  width 200px;
  height 200px;
  background #cccccc;
  border 1px dotted #8f8f8f;
  display flex
  justify-content center
  align-items center

  img{
    display block
    width 95%
    height 90%
  }
}
