.header {
  overflow hidden
  h2 {
    float left
  }
  div {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right
  }
}

a {
  cursor pointer
}

.date-time-wrapper {
  overflow hidden
  .time,.date {
    margin 10px
    margin-left 0px
    float left
  }
}
