<table class="table">
  <thead>
  <tr>
    <th>商品名称</th>
    <th>成交价格</th>
    <th>成交时间</th>
    <th>订单状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders; let idx=index">
    <td><a [routerLink]="['/auc-item',order.id]">{{order.name}}</a></td>

    <td>¥ {{order.price|number:'1.2-2'}}</td>
    <td>{{order.createAt|date}}</td>
    <td>{{order.status|orderStatus}}</td>
    <td><a *ngIf="order.status==0">确认收货地址</a> <a *ngIf="order.status==1">支付</a></td>
  </tr>
  </tbody>
</table>
