.title {
  margin-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  line-height: 1.5em;
  font-weight: bold;
}

.time {
  font-size: 12px;
}

.info {
  margin: 1.5em 0;
}

.content {
  font-size 16px;
  margin-bottom 20px;
}
