<header>
    <nav>
        <div class="container">
            <ul class="pull-left">
                <li><a (click)="addFavorite()"><i class="fa fa-star"></i> 收藏我们</a></li>
                <li>在线客服: 400-442-6952</li>
            </ul>
            <ul class="pull-right menu">
                <li *ngFor="let menu of menus.header" [routerLink]="menu.link">
                    {{menu.text}}
                </li>
            </ul>
        </div>
    </nav>
    <div class="title container">
        <img class="logo" [routerLink]="['/']" src="../../../assets/img/logo.png" width="300px" alt="logo">
        <div class="pull-right">
            <div class="search-bar-container">
                <div class="search-bar pull-right">
                    <input id="search" type="text" #keyword>
                    <label for="search" (click)="search(keyword.value)"><i class="search-icon fa fa-search"></i></label>
                </div>
            </div>
            <ul class="main-menu">
                <li *ngFor="let menu of menus.main" >
                    <a [routerLink]="menu.link" [routerLinkActive]="'active'" >{{menu.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</header>
