.auc-item {
  display: inline-block;
  width: 10.25rem;
  height: 10.25rem;
  margin: .4rem;
  cursor: pointer;
  background-size: cover !important;
  .item-wrapper {
    position: relative;
    height: 100%;
    color: white;
    .show {
      opacity: 1 !important;
    }
    .center {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }
    .fixed {
      position: absolute;
      left: 0; top: 67%;
      padding: .5rem;
      background: rgba(108, 0, 10, 0.6);
      text-align: center;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      .price, .title { font-size: .6rem; }
      span { color: yellow; }
    }
    .status-will {
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      .info { font-size: 1.2rem; }
    }
    .status-doing .fixed { opacity: 1; }
    .status-done {
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      .info { font-size: 1.4rem; font-weight: bold; margin: 1.5rem 0; }
    }
  }
}
