.signup-form-container {
  margin 10px auto;
  display flex;
  align-items center;
  justify-content space-between;
}

.signup-form {
  min-width: 15rem;
}

.signup-image {
  min-width 40rem;
  min-height 30rem;
  border 1px solid #ff8844;
}

.input-captcha {
  width 8em;
}

.btn-captcha {
  width 6.5em;
}

.captcha-group {
  display flex
  justify-content space-between
  align-items center
  margin-bottom: 15px;
}

