box-shadow() {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
  margin 10px
}

.flex-row {
  display flex
  justify-content space-between
  align-items stretch
}

.flex-box {
  display flex
}

.user-setting {
  .password-change {
    box-shadow()
  }
  .user-info {
    box-shadow()
  }
  .address-management {
    box-shadow()
  }
}

.password-change, .user-info, .address-management {
  flex-grow 1;
}

.header {
  font-size 0.9rem
  margin 5px 0;
  i {
    color: #745c30
  }

}
