.table {
  a {
    cursor: pointer;
  }
}

.message-title {
  margin-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  line-height: 1.5em;
  font-weight: bold;
}

.info {
  margin: 1.5em 0;
  .time .user {
    font-size: 12px;
    margin 0 5px
  }
}

.content {
  font-size: 16px;
  margin-bottom: 20px;
}
