.login-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin 10px auto;
}

.login-form {
  min-width: 15rem;
}

.login-img {
  border: 1px solid #ff7799;
  min-width 40rem;
  min-height 30rem;
}
