<div class="page-idx">
  <div class="page-idx-box" (click)="first()">&lt;&lt;</div>
  <div class="page-idx-box" (click)="prev()">&lt;</div>
  <div *ngIf="currPageIdx > 3">...</div>
  <div *ngFor="let idx of currPageRange" class="page-idx-box" [class.active]="idx === currPageIdx"
       (click)="pageIdxClick(idx)">{{idx}}
  </div>
  <div *ngIf="pageNum > currPageIdx+2">...</div>
  <div class="page-idx-box" (click)="next()">&gt;</div>
  <div class="page-idx-box" (click)="last()">&gt;&gt;</div>
</div>
