$font-color-default = #626262;
$font-color-hover = #7c7037;
.auc-item-detailed {
  display: inline-block;
  margin: .5rem;
  .image {
    img {
      width: 10.25rem;
      height: 10.25rem;
    }

  }
  .detail {
    font-size: .7rem;
    color: $font-color-default;
    transition: color 200ms ease-in-out;
    h4 {
      color: $font-color-default;
    }
    p {
      &.price {
        color: red;
      }
    }
    .eye {
      float: left;
      display: inline-block;
      &:before {
        margin-right: .3rem;
      }
    }

    .watch, .watching {
      margin-right: .3rem;
      float: right;
      display: inline-block;
      cursor: pointer;
      &:before {
        margin-right: .3rem;
      }
    }
    .watching:before {
      color: red
    }
  }
}
