$color-main = #6c000a;
$footer-font-color = #f5eeef;

html {
  font-family: "Microsoft YaHei", sans-serif;
}

footer {
  background: $color-main;
  font-size: .6rem;

  .container { padding-top: 1rem; }
  .list-block {
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem;
    h4 {
      margin-top: 0;
      color: $footer-font-color;
      font-size: .7rem;
    }
    ul.list {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        cursor: pointer;
        a { color: $footer-font-color; }
      }
    }
  }
  .info {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: $footer-font-color;
  }
  .bicode {
    display: inline-block;
    margin: 0 0 1rem .5rem;
  }
}
