box-shadow() {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;
  margin 10px
}

.user-info {
  display flex
  flex-direction column

  .title {
    text-align center;
    font-size 1rem
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.26);
    margin 10px
  }
  .message {
    .message-list{
      margin 0
      li {
        justify-content space-between
        margin 3px 0px;
      }
    }

    flex-grow 1
    box-shadow()
  }
  .site-info {
    flex-grow 1
    box-shadow()
  }
  .higher-offer, .waiting-confident, .waiting-payment {
    min-height 200px
    flex-direction column
    box-shadow()
    flex-grow 1
    .list li{
      margin 3px 0px;
      justify-content space-between
    }
  }
}
.header {
  font-size 0.9rem
  margin 5px 0;
  i {
    color: #745c30
  }
}
.flex-row {
  display flex
  justify-content space-between
  align-items stretch
}

.flex-box {
  display flex
}


