<div class="user-info">
  <div class="title">我的资料</div>
  <div class="flex-row">
    <div class="message">
      <div class="header">
        我的消息 <i class="fa fa-envelope"></i>
      </div>
      <div class="" *ngIf="!data.messages||!data.messages.length">暂无未读消息</div>
      <ul class="list-unstyled message-list" *ngIf="data.messages.length">
        <li class="flex-box" *ngFor="let message of data.messages"><span>{{message.title}}</span><span>{{message.createAt|date}}</span></li>
      </ul>
    </div>
    <div class="site-info">
      <div>sdafdsaf</div>
      <div>cxzvzxcv</div>
      <div>sadfdsaf</div>
      <div>zxcvzxcv</div>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-box higher-offer">
      <div class="header">
        价格被超 <i class="fa fa-line-chart"></i>
      </div>
      <div class="" *ngIf="!data.priseOver||!data.priseOver.length">暂无出价被超</div>
      <ul class="list-unstyled list" *ngIf="data.priseOver.length">
        <li class="flex-box" *ngFor="let i of data.priseOver"><span>{{i.name}}</span><span>{{i.prise}}</span></li>
      </ul>
    </div>
    <div class="flex-box waiting-confident">
      <div class="header">
        得标确认 <i class="fa fa-hand-peace-o"></i>
      </div>
      <div class="" *ngIf="!data.auctionConfirm||!data.auctionConfirm.length">暂无得标商品</div>
      <ul class="list-unstyled list" *ngIf="data.auctionConfirm.length">
        <li class="flex-box" *ngFor="let i of data.auctionConfirm"><span>{{i.name}}</span><span>{{i.prise}}</span></li>
      </ul>
    </div>
    <div class="flex-box waiting-payment">
      <div class="header">
        待支付订单 <i class="fa fa-list"></i>
      </div>
      <div class="" *ngIf="!data.waitPay||!data.waitPay.length">暂无待支付订单</div>
      <ul class="list-unstyled list" *ngIf="data.waitPay.length">
        <li class="flex-box" *ngFor="let i of data.waitPay"><span>{{i.name}}</span><span>{{i.prise}}</span></li>
      </ul>
    </div>
  </div>


</div>
