<table class="table">
  <thead>
  <tr>
    <th style="width: 15rem; overflow: hidden">商品名称</th>
    <th>出价</th>
    <th>物品状态</th>
    <th>竞拍状态</th>
    <th style="width: 9rem">出价时间</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of data">
    <td ><a [routerLink]="['/auc-item',i.id]">{{i.name}}</a></td>
    <td>¥ {{i.price | number:'1.2-2'}}</td>
    <td>{{i.itemStatus | itemStatus}}</td>
    <td>{{i.bidStatus | bidStatus}}</td>
    <td >{{i.createAt | date:"YYYY/MM/DD hh:mm:ss"}}</td>
  </tr>
  </tbody>
</table>
