.detail {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding 10px

  .flex-row {
    display flex
    align-content space-between
    align-items stretch
    justify-content space-between
  }
  .avatar {
    flex-grow 0
    margin 3px 2px
    img {
      width 100px;
      height 100px;
    }
  }
  .info {
    flex-grow 1
    margin-left 20px
    display flex
    flex-direction column
    justify-content space-around
    .username {

    }
    .user-desc {

    }
  }
  .tag {
    width: 32%
    background #c1c1c1
    text-align center
    margin 2px 2px
    padding 10px 0px
    span {
      font-size 12px
      color #ee504f
      display block
    }
  }
}
