<div class="detail">
  <div class="flex-row">
    <div class="avatar"><img src="../../../assets/img/avatar.png" alt=""></div>
    <div class="info">
      <h4 class="username">zl810881283</h4>
      <div class="user-icon"><span>a</span><span>b</span></div>
    </div>
  </div>
  <div class="flex-row">
    <div class="tag"><span>0.00</span>注册时间</div>
    <div class="tag"><span>0.00</span>当前等级</div>
    <div class="tag"><span>0.00</span>信用额度</div>
  </div>
  <div class="flex-row">
    <div class="tag"><span>0.00</span>累计交易量</div>
    <div class="tag"><span>0.00</span>累计交易额</div>
    <div class="tag"><span>0.00</span>上一次登陆</div>
  </div>
</div>
