<div class="tabview" [class.small]="small">
    <div class="header">
        <div *ngFor="let tab of tabs; let idx = index" class="tab"
             [class.onshow]="idx === curTab"
             (click)="onTabClick(idx)">{{tab}}</div>
    </div>
    <div class="content">
        <div class="left">
            <img [src]="imageSrc">
        </div>
        <ul class="right">
            <li *ngFor="let detail of details[curTab]; let idx = index" class="fa fa-arrows">
                <a  [routerLink]="['/article',detail.id]" (mouseover)="onDetailHover(idx)">{{detail.title}}</a>
                {{detail.date|date}}
            </li>
        </ul>
    </div>
</div>
