<banner></banner>
<div class="container">
    <div class="tabs">
        <div class="pull-left">
            <tabview [data]="leftTabData"></tabview>
        </div>
        <div class="pull-right">
            <tabview [data]="rightTabData"></tabview>
        </div>
    </div>
    <div class="split">
        <div class="split-line left">
            <hr/>
            <div class="boxes">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
        <div class="split-text">
            <h4>专场介绍</h4>
            PRODUCT DESCRIPTION
        </div>
        <div class="split-line right">
            <div class="boxes">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="main">
        <sidebar [data]="sidebarData"></sidebar>
        <div class="exhibition">
            <auc-item *ngFor="#item of auctionItems" [data]="item"></auc-item>
        </div>
    </div>
    <div class="split">
        <div class="split-line left">
            <hr/>
            <div class="boxes">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
        <div class="split-text">
            <h4>服务承诺</h4>
            SERVICE COMMITMENT
        </div>
        <div class="split-line right">
            <div class="boxes">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <hr/>
        </div>
    </div>
    <blockview *ngFor="#data of serviceData" [data]="data"></blockview>
</div>