<banner></banner>
<div class="container">
  <div class="tabs">
    <div class="pull-left">
      <tabview [data]="leftTabData"></tabview>
    </div>
    <div class="pull-right">
      <tabview [data]="rightTabData"></tabview>
    </div>
  </div>
  <split [cnTitle]="'专场介绍'" [enTitle]="'SPECIAL INTRODUCTION'"></split>
  <div class="main">
    <sidebar [data]="sidebarData" (groupChange)="auctionItems=$event"></sidebar>
    <div class="exhibition">
      <auc-item *ngFor="let item of auctionItems" [data]="item"></auc-item>
    </div>
  </div>
  <split [cnTitle]="'服务承诺'" [enTitle]="'SERVICE COMMITMENT'" ></split>
  <blockview *ngFor="let data of serviceData" [data]="data"></blockview>
</div>
