a{
  cursor pointer
}
.address-management {
  a {
    cursor: pointer;
  }
  .header {
    a {
      float right
      font-size 0.7rem;
    }
  }
  box-shadow()
  min-height 10rem
  .table {
    text-align center
    th {
      text-align center
    }
    .edit-selected {
      width 2.5rem;
    }
    .default {
      width 5rem;
    }
  }
}
